/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-10-2014, 09:56:57 PM
    Author     : fvasquez
*/
.error{
    border-color: red;
    color: red;
}
