/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-10-2014, 08:59:10 PM
    Author     : fvasquez
*/
#clickeable{
    cursor: pointer;
    display: inline-block;
}
#clickeable:hover{
    color: blue;
}
.error{
    background-color: red;
}
