/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-09-2014, 09:24:28 PM
    Author     : fvasquez
*/

body{
    margin: 0px;
}
header h1{
    float: left;
}
header img{
    float: left;
}
header .clear{
    clear: both;
}
nav{
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

    border-radius: 10px;
    
    width: 80%;
    margin: 0 auto;
}
nav img{
    display: none;
    
        transition: all 2s;
}
nav ul{
    box-shadow: 0px 2px 2px #999;
    border-radius: 10px;
}
nav li{
    display: inline-block;
    padding: 12px 4px;
    color: white;
    box-shadow: 1px 0 0 #aaaaaa;
    border-right: 1px solid #cccccc;
}
nav li:hover{
    color: #bbbbbb;
}
nav a{
    padding: 0 20px;
}
nav a, a:link, a:visited, a:hover, a:active{
    color: inherit;
    text-decoration: none;
}

footer{
    background-color: #999999;
}
footer > p{
    margin: 0px;
}
@media (max-width: 600px){
    nav{
        background: none;
    }
    nav img{
        display: block;
        width: 50px;
        height: 50px;
    }
    nav ul{
        display: none;
    }
    li{
        display: block;
    }
}






















